<div class="game-peepz-content">
    <div class="players">
        <mat-list class="player-list">
            <mat-list-item *ngFor="let player of players">
                <h4>{{player.name}}</h4>
                <span class="turn-state" *ngIf="player.id === activePlayer.id">[{{activePlayerStateTexts[turnState]}}]</span>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-divider></mat-divider>
    <div class="game-information">
        <h4>Tiles Left: <span>{{tilesLeft}}</span></h4>
    </div>
</div>
