@import "../styles";
.page-content {
    padding: 2em;
    display: grid;
    min-height: 100vh;
    grid-auto-flow: row;
    grid-auto-rows: 6em 1fr;

    .logo {
        position: relative;

        img {
            filter: invert(1);

        }

        .logo-mask {
            position: absolute;
            width: 100vw;
            height: 100%;
            z-index: -1;
            top: -2em;
            left: -2em;
            mask: url("../assets/images/logo_bg.svg") 0 0 no-repeat;
            mask-size: cover;
            background-color: mat-color($CastleIO-Web-accent, 400);

        }
    }
}
