@import "colors";

.form-row {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    overflow: hidden;
    width: 300px;
}

.mat-flat-button.big-button {
    font-size: 24px;
    border-radius: 8px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 60px;
}
