@import "../../styles";
.game-component {
    app-game-peepz {
        position: absolute;
        z-index: 9;
        top: 80px;
        left: 0;
    }

    app-game-board-controls {
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
    }
}
