@import "../../styles";
.game-component {
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "peepz board"
        "action_button action_button";

    app-game-peepz {
        grid-area: peepz;
    }

    app-game-board {
        grid-area: board;
    }

    .action-button, .action-area {
        grid-area: action_button;

        width: 250px;
        justify-self: center;
        margin-top: 20px;
    }

    .action-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.reset-button {
    position: fixed;
    top: 20px;
    right: 20px;
}
