.game-component {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "lobby_name board ."
        "peepz board ."
        ". draw_button .";

    h2 {
        grid-area: lobby_name;
    }

    app-game-peepz {
        grid-area: peepz;
    }

    app-game-board {
        grid-area: board;
    }

    .draw-button {
        grid-area: draw_button;

        width: 250px;
        justify-self: center;
        margin-top: 20px;
    }
}
