@import "../../styles";
.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    mask: url("../../assets/images/landing_bg.svg") 0 40px no-repeat;
    mask-size: 130vw;
    background-color: mat-color($CastleIO-Web-accent, 100);

    @media (max-width: 1000px) {
        visibility: hidden;
    }
}

.join-lobby-panel, .create-lobby-panel{

    mat-checkbox {
        align-self: center;
    }
}
