@import "../../styles";
.players {
    .controls {
        margin-left: 20px;
        align-self: center;

        & * {
            cursor: pointer;
        }
    }
}

.options.card {
    .card-content {
        section {
            margin-bottom: 35px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .small-controls {
            display: grid;
            grid-auto-columns: auto 1fr;
            grid-auto-flow: column;
            grid-column-gap: 20px;
        }
    }
}

.invite-link {
    position: absolute;
    padding: 60px 0px 40px 0px;
    bottom: 0;
    left: 0;
    width: 100vw;
    mask: url("../../assets/images/controls_bg.svg") center 0 no-repeat;
    mask-size: auto 100%;
    background-color: mat-color($CastleIO-Web-accent, 200);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .label {
        font-weight: bold;
        margin-right: 20px;
    }

    p {
        overflow: hidden;
        cursor: copy;
    }

    button {
        align-self: center;
    }
}
