<app-create-player *ngIf="!playerId"
                   (joinLobby)="joinLobby($event)"
                   [lobbyId]="lobbyId"></app-create-player>
<div class="flex-card-area" *ngIf="lobby">
    <div class="players card">
        <h2>{{lobby.lobbyName}}</h2>
        <div class="card-content">
            <mat-list class="player-list">
                <mat-list-item *ngFor="let player of lobby.players">
                    <h4>{{player.name}}</h4>
                    <p class="controls">
                        <span class="material-icons" title="remove player" *ngIf="lobby.lobbySettings.editable">delete</span>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="options card">
        <h2>Game Settings</h2>
        <div class="card-content" *ngIf="lobby.lobbySettings.editable">
            <form>
                <section class="small-controls">
                    <mat-checkbox (change)="changeLobbyVisibility()"
                                  [(ngModel)]="isLobbyPublic"
                                  name="lobbyVisibility" labelPosition="before">Public</mat-checkbox>

                    <mat-form-field>
                        <mat-label>Game Mode</mat-label>
                        <mat-select [(value)]="lobby.lobbySettings.gameMode" (selectionChange)="updateLobbySettings()" name="gameModeSelect">
                            <mat-option *ngFor="let gameMode of lobby.lobbySettings.gameModes" [value]="gameMode">{{gameMode}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <section>
                    <div class="max-players label-value-slider">
                        <p>Max Players</p>
                        <span>{{lobby.lobbySettings.maxPlayers}}</span>
                        <mat-slider min="2" max="10" step="1" tickInterval="1"
                                    [value]="lobby.lobbySettings.maxPlayers"
                                    (input)="lobby.lobbySettings.maxPlayers = $event.value"
                                    (change)="updateLobbySettings()"></mat-slider>
                    </div>
                </section>

                <div class="turn-time label-value-slider">
                    <p>Turn Time</p>
                    <span>{{lobby.lobbySettings.turnTimeSeconds}} sec</span>
                    <mat-slider min="10" max="120" step="5" tickInterval="2"
                                [value]="lobby.lobbySettings.turnTimeSeconds"
                                (input)="lobby.lobbySettings.turnTimeSeconds = $event.value"
                                (change)="updateLobbySettings()"></mat-slider>
                </div>
            </form>
            <div class="card-content">
                <button mat-flat-button
                        color="accent"
                        class="big-button"
                        [disabled]="lobby.players.length < 2"
                        (click)="startGame()">Start Game</button>
            </div>
        </div>

        <div class="card-content" *ngIf="!lobby.lobbySettings.editable">
            <form>
                <section class="small-controls">
                    <div class="label-with-value">
                        <span class="label">Lobby Visibility</span>
                        <span class="value">{{lobby.lobbySettings.visibility}}</span>
                    </div>

                    <div class="label-with-value">
                        <span class="label">Game Mode</span>
                        <span class="value">{{lobby.lobbySettings.gameMode}}</span>
                    </div>
                </section>

                <section>
                    <div class="max-players label-value-slider">
                        <p>Max Players</p>
                        <span>{{lobby.lobbySettings.maxPlayers}}</span>
                    </div>
                </section>

                <div class="turn-time label-value-slider">
                    <p>Turn Time</p>
                    <span>{{lobby.lobbySettings.turnTimeSeconds}} sec</span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="invite-link" *ngIf="lobby">
    <p class="label">
        Invite Link
    </p>
    <p class="link" (click)="copyUrlToClipboard()">
        {{inviteLink}}
    </p>
    <button mat-icon-button color="accent" title="Click to copy the invite link" (click)="copyUrlToClipboard()">
        <mat-icon>content_copy</mat-icon>
    </button>
</div>
